* {
    box-sizing: border-box;
}

.main-container {
    display: flex;
}

body {
    background-color: rgb(157, 194, 228);
}

header {
    color:white;
    background-color: blue;
    background-image: linear-gradient(to right, rgb(135, 126, 213), rgb(41, 41, 146));
    text-align: center;
    margin-bottom: 17px;
    padding: 3px;
    width: 100%;
}

.left-col {
    width: 30%;
    margin-left: 10px;
}

.right-col {
    width: 70%;
    margin: 0 20px;
}

input {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

button {
    width: 100%;
    border-radius: 10px;
    background-color: rgb(88, 88, 187);
    color: white;
}


.city-card {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(41, 41, 146);
    color: white;
    box-shadow: 0 0 10px rgb(31, 6, 112);
    background-image: linear-gradient(to right, rgb(135, 126, 213), rgb(41, 41, 146));
    
}

.five-day-header {
    margin-top: 10px;
}


.five-day-forecast {
    display: flex;
    flex-wrap: wrap;

}


.forecast-day-card {
    width: 1fr;
    margin: 2px;
    background-color: rgb(41, 41, 146);
    color: white;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(31, 6, 112);
}

ul {
    list-style: none;
    padding: 0;
    line-height: 30px;
}

@media screen and (max-width: 400px){

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-col {
        width: 80%;
        margin-right: 10px;
    }
    
    .right-col {
        width: 80%;
        margin-top: 15px;
        text-align: center;

    }
    .forecast-day-card  {
        max-width: 130px;
        align-items: center;
    }
}